div.formField {
  margin-right: 3px;
  width: 178px;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

div.whiteField {
  background-color: white;
}

div.formFieldWide {
  margin-right: 3px;
  width: 228px;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

button {
  padding: 0 5px;
  margin: 0;
}

.fieldWidth {
  width: 175px;
}

.error {
  color: pink;
  font-size: 1em;
}

div.adminlist {
  width: 99%;
  height: 500px;
  background-color: white;
  overflow-y: auto;
}

div.purgeDiv {
  background-color: transparent !important;
  color: white !important;
}

::ng-deep .custom-frame {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
      border-radius: 70% !important;
      color: white !important;
  }
}