.day {
  font-weight: bold;
  border: solid 1px darkred;
  background-color: darkred;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.emptyday {
  border: solid 1px white;
  background-color: white;
  color: white;
}

.nomissions {
  font-weight: bold;
  border: solid 1px black;
  background-color: white;
  color: black;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}