<div class="flexlayout column topleft">
  <div class="day" [style]="dayStyle()">{{getUTCDate()}}</div>
  <ng-container *ngIf="this.day.missions.length <= 0">
    <div class="nomissions" [style]="dayStyle()">
      No Missions Entered for this Date!
    </div>
  </ng-container>
  <ng-container *ngIf="this.day.missions.length > 0">
    <app-reviews-day-mission *ngFor="let msn of this.day.missions;let i = index"
      [mission]="msn" [width]="width" [more]="i < this.day.missions.length - 1">
    </app-reviews-day-mission>
  </ng-container>
  <div class="empty" [style]="dayStyle()">&nbsp;</div>
</div>
